* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
body {
  background: url(./image/Baseball_and_Homeplate_large\\(1\).jpg) center center /
    cover no-repeat;
}
#wrap {
  width: 100%;
  max-width: 1200px;
  margin: 48px auto;
}
#anno {
  width: 100%;
  height: 150px;
  border: 1px solid #222;
  margin-bottom: 10px;
  background-color: black;
}
.main {
  display: flex;
  justify-content: space-between;
  #stadium {
    width: 58%;
    height: 500px;
    border: 1px solid #222;
  }
  #motion {
    width: 38%;
    height: 500px;
    border: 1px solid #222;
    background: url(./image/67952251.jpg) center center / cover no-repeat;
  }
  margin-bottom: 10px;
}
.bot {
  display: flex;
  justify-content: space-evenly;
  height: 150px;
  border: 1px solid #222;
  align-items: center;
  background-color: black;
  color: black;
  #score {
    width: 58%;
    height: 80%;
    border: 1px solid #222;
    background-color: #aaa;
    ul {
      display: flex;
      height: 100%;
      li {
        width: calc(100% / 11);
        text-align: center;
        height: 100%;
        div {
          height: calc(100% / 3);
        }
      }
    }
  }
  #situatiom {
    width: 18%;
    height: 80%;
    border: 1px solid #222;
    background-color: #aaa;
    ul {
      height: 100%;
      width: 1005;
      li {
        height: calc(100% / 3);
        display: flex;
        width: 100%;
        text-align: center;
        &:nth-child(1) {
          padding: 5px;
          p {
            width: 25%;
          }
          div {
            width: 20%;
            height: 100%;
            border: 1px solid #222;
            border-radius: 50%;
          }
        }
        &:nth-child(2) {
          padding: 5px;
          p {
            width: 25%;
          }
          div {
            width: 20%;
            height: 100%;
            border: 1px solid #222;
            border-radius: 50%;
          }
        }
        &:nth-child(3) {
          padding: 5px;
          p {
            width: 25%;
          }
          div {
            width: 20%;
            height: 100%;
            border: 1px solid #222;
            border-radius: 50%;
          }
        }
      }
    }
  }
  #time {
    width: 18%;
    height: 80%;
    border: 1px solid #222;
    background-color: #aaa;
  }
}

@mixin white-gradient {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

// Styling
.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;

  &::before,
  &::after {
    @include white-gradient;
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(250px * 14);
  }

  .slide {
    height: 100px;
    width: 250px;
  }
}
